<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/">
	<img src="/img/logo.png" alt="Adelaide Metro Handyman" width="100%" height="100%"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/services" class="pa3 no-underline db">Services</a></li>

		<li><a href="/about" class="pa3 no-underline db">About Us</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
